<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Password</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}"
          rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}"
            type="text/javascript"></script>
</head>
<body>
<nav th:replace="layout :: menu"></nav>
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center; padding: 25px 30px; font-size: 30px;">CAMBIAR PASSWORD</h1>
    </div>
    <div class="card-body">
        <div class="container" style="margin-left: 450px;">
            <div class="col-md-5" >
                <form th:action="@{/password/cambiar-password}" th:object="${usu}" method="post" onsubmit="return validarPassword()">
                    <div class="mb-3 d-flex d-flex justify-content-center align-content-center">
                        <label for="nuevopassword" class="col-sm-5 col-form-label">Nuevo Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="nuevopassword" name="password" th:field="*{password}">
                        </div>
                    </div>
                    <div class="mb-3 d-flex d-flex justify-content-center align-content-center">
                        <label for="reppassword" class="col-sm-5 col-form-label">Repita Nuevo Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="reppassword" name="txtreppassword">
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center align-content-center">
                        <button type="submit" class="btn btn-warning">Guardar</button>
                    </div>
                </form>
                <div th:if="${success != null}">
                    <p class="alert alert-success" th:text="${success}"></p>
                </div>
            </div>
        </div>
            </div>
        </div>
<script>
    function validarPassword() {
        var password = document.getElementById('nuevopassword').value;
        var repPassword = document.getElementById('reppassword').value;

        if (password === "") {
            alert("Ingrese Su Contraseña");
            return false;
        }

        if (password !== repPassword) {
            alert("Las Contraseñas No Coinciden");
            return false;
        }
    }
</script>
</body>
</html>